ultralytics==8.1.27
numpy==1.26.4
torch==2.2.1
torchaudio==2.2.1
torchinfo==1.8.0
torchmetrics==0.8.0
torchvision==0.17.1
torchdata==0.7.0
onnx==1.13.0
onnx-simplifier==0.4.36
onnx2pytorch==0.4.1
onnxconverter-common==1.14.0
onnxruntime==1.13.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-docs @ git+https://github.com/tensorflow/docs@b64768499123da8b2253a534277d62e20de3ec73
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
tensorflow-model-optimization==0.8.0
diffusers==0.27.2
accelerate==0.28.0
transformers==4.39.2
ftfy==6.2.0
bitsandbytes==0.42.0
gradio==4.24.0
gradio_client==0.14.0
natsort==8.4.0
safetensors==0.4.2
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
matplotlib==3.8.3
fastapi==0.110.0
uvicorn==0.29.0