<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/index.css">
<title>Welcome</title>

</head>
<body>
    <h1>Welcome to Human Pose Estimation and Activity Classification</h1>

    <div class="buttons">
        <form method="GET" action="/login">
            <button class="button" id="login">Login</button>
        </form>
        
        <form method="GET" action="/signup">
            <button class="button" id="signup">SignUp</button>
        </form>
        
    </div>
</body>
<script src="/static/js/index.js"></script>
</html>
