<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/signup.css">
<title>Signup</title>

</head>
  <body>
    <div id="error-modal" class="modal">
      
      <div id="error-content" class="modal-content">
          <span class="close">&times;</span>
          <h3 id="error-heading">Modal Heading</h2>
          <div id="shade-block"></div>
      </div>
  </div>
  
    <form>
      <h2>Login into your Account</h2>

      <input type="email" name="email" id="email" placeholder="Email" required>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <input type="submit" value="Signup" id="submit_button">
    </form>
  </body>
<script src="/static/js/login.js"></script>
</html>
